// classi custom di css da aggiungere con @include + nome classe
// esempio di classe: @mixin flex {display: flex}
@mixin sp-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin sp-around {
    display: flex;
    justify-content: space-around;
}

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin max-width {
    max-width: 1200px;
    margin: 0 auto;
}