// variabili esempio: $primary-color:magenta;
$primary-color: #0282f9;
$secondary-txt: #717370;
$dark-bg: #1c1c1c;
$footer-bg: #303030;
$max-width: 1200px;

// max-width cards
$secondary-width: 1000px